.header{
    background-color: black;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;
}
.header_logo{
    width:100px;
}
.header_search{
    display: flex;
    flex: 1;
}
.header_searchinput{
    height:12px;
    padding:10px;
    border: none;
    width: 100%;
    margin-left:10px;
}
.header_searchicon{
    background-color: orange;
    padding:4px;
    height:22px;

}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header_optionlineone{
    font-size: 10px;
}

.header_optionlinetwo{
    font-size: 13px;
    font-weight: 800;
}
.header_link{
    color: white;
    text-decoration: none;
}

.header_optionbasket{
    display: flex;
    align-items: center;
}

.header_basketcount{
    margin-left:10px;
    margin-right: 10px;
}